
@layer utilities {
  /* Layout utility classes */
  .box {
    display: flex;
    flex-direction: column;
  }
  
  .box-fill {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
  
  .box-scroll {
    flex: 1;
    min-height: 0;
    overflow: auto;
  }
}
